<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fallo durante la inscripción</title>
</head>
<body>
    <p>No se pudo completar la siguiente inscripción:</p>
    <p>
        Número de inscripción: <strong>[[${slug_inscription}]]</strong><br>
        Nombre de usuario: <strong>[[${name_client}]] [[${surname_client}]]</strong><br>
        Fecha: <strong>[[${date}]]</strong><br>
        Actividad: <strong>[[${n_activity}]]</strong><br>
        Horario: <strong>[[${slot_hour}]]</strong><br>
        Nombre de profesor: <strong>[[${name_instructor}]] [[${surname_instructor}]]</strong><br>
        Error: <strong>[[${error}]]</strong>
    </p>
    <p>EntrénaMe</p>
</body>
</html>