<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación inscripción</title>
</head>
<body>
    <p>Hola [[${name_client}]],</p>
    <p>Te confirmamos la siguiente inscripción en Entréname:</p>
    <p>
        Número de inscripción: <strong>[[${slug_inscription}]]</strong><br>
        Nombre de usuario: <strong>[[${name_client}]] [[${surname_client}]]</strong><br>
        Fecha: <strong>[[${date}]]</strong><br>
        Actividad: <strong>[[${n_activity}]]</strong><br>
        Horario: <strong>[[${slot_hour}]]</strong><br>
        Nombre de profesor: <strong>[[${name_instructor}]] [[${surname_instructor}]]</strong>
    </p>
    <p>
        Atentamente,<br>
        EntrénaMe
    </p>
</body>
</html>