<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva inscripción</title>
</head>
<body>
    <p>Hola [[${name_instructor}]],</p>
    <p>Un usuario se ha inscrito en la actividad:</p>
    <p>
        Actividad: <strong>[[${n_activity}]]</strong><br>
        Horario: <strong>[[${slot_hour}]]</strong><br>
        Nombre de usuario: <strong>[[${name_client}]] [[${surname_client}]]</strong><br>
        Fecha: <strong>[[${date}]]</strong><br>
        Número de inscripción: <strong>[[${slug_inscription}]]</strong>
    </p>
    <p>
        Atentamente,<br>
        EntrénaMe
    </p>
</body>
</html>